doctype html
html
  head
    meta(charset='utf-8') 
    title HI!
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', ,='', content='yes')
    meta(content='telephone=no', name='format_detection')
    link(rel='stylesheet', type='text/css', href='/css/friends.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/friends.js')
    script(type='text/javascript', src='/js/Chart.js')
    script.
        window.userid = !{JSON.stringify(userid)};
body
    div#wrapper(style='margin-top:0rem; margin-left:0; margin-right: 0; overflow: hidden; height:100%;')
      nav.header(style='position: fixed; width:100%; top:0; left:0; z-index:199; -webkit-transform: translateZ(0); -webkit-box-sizing:border-box;')
        li#tag0.selected
          a &#x5173;&#x6CE8;
        li#tag1
          a &#x7279;&#x522B;&#x5173;&#x6CE8;        
        li#tag2
          a &#x641C;&#x7D22;
      section.friend-list
      section#special-friend(style='overflow:hidden;')
      div#search
        input(type='text', placeholder='enter username')
        button#search-button Search
        section.user-list
    img#left-arrow.arrow(src='/img/left.png')
    img#right-arrow.arrow(src='/img/right.png')
