doctype html
html
  head
    title 微信JS
    meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
    meta(name='viewport', content='initial-scale=1, user-scalable=no')
  body
    input(type='button', value='关闭本窗口', onclick="WeixinJSBridge.call('closeWindow');")
    body
