doctype html
html
	include head
body(style= "background-color:#eeeeee;overflow:hidden;margin:0px;padding:0px;font-family:微软雅黑")
	div#set_font_size
		div#chart_title
		canvas#myChart
		div#header(style = "width:100%")
			img#head_img(src= "/img/小鸟.jpg")
			div#hello Hi,步行者~
			div#statistic 过去一周，您累计步行
				b(style = "font-size:1.5em;color:red") 123430步
				
			
		
		